@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lora:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-slate-200 font-sans antialiased;
  }
}

.scrollbar-thin-custom::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-thin-custom::-webkit-scrollbar-track {
  background: #131130; /* surface */
}
.scrollbar-thin-custom::-webkit-scrollbar-thumb {
  background-color: #FF00E5; /* secondary */
  border-radius: 20px;
  border: 3px solid #131130; /* surface */
}
